@import url("https://fonts.googleapis.com/cssF2?family=Roboto:wght@300&family=Titillium+Web:wght@200&display=swap");
/* @import url("https://kit.fontawesome.com/yourcode.js"); */
body {
  font-family: "Titillium Web", sans-serif;
  margin: 0;
}

.container {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 150px 3fr;
  grid-template-rows: 100px 50px 1fr 50px;
}
.container > div {
  border: 2px solid #003b6f;
  background-color: #6f8ea9;
  overflow: hidden;
}
.header {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 25px;
  font-size: 50px;
  grid-column: 1/3;
  grid-row: 1/2;
  text-shadow: -3px -3px 2px #003b6f;
}

.footer {
  margin-top: 5px;
  grid-column: 1/3;
  grid-row: 4/5;
}
.nav {
 padding-left: 25px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  grid-column: 2/3;
  grid-row: 2/3;
}
.sidebar {
  grid-column: 1/2;
  grid-row: 2/4;
  margin-right: 5px;
}
.content {
  grid-column: 2/3;
  grid-row: 3/4;
}
.list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  height: calc(100%);
  align-items: center;
  justify-content: space-around;
  list-style: none;
  border-bottom: -2px;
}
.list > li {
  outline: 2px solid #003b6f;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 25px;
  margin-top: 2px;
}
.list:first-child {
  margin-top: -2px;
}
.links {
  display: flex;
  justify-content: space-between;

  padding: auto;
}
.link {
  color: white;
  text-decoration: none;
  padding: 20px 20px;
  font-size: 20px;
}
a:hover {
  background-color: #003b6f;
}
#fa-search, .fa {
 padding:10px;
  font-size: 15px;
  margin-left: 10px;
}
#fa-search:active {
  background-color: #003b6f;
  color: white;
}
.search, .searchbar {
  display: flex;
  float: left;
  height: 50px;
font-size: 20px;
justify-content: space-between;
}
/* centritrati search font, smanjiti searchbar.
Sidebar  */




